#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo-vite:hover {
  filter: drop-shadow(0 0 2em #00fac4aa);
}
.logo-react:hover {
  filter: drop-shadow(0 0 2em #00fac4aa);
}

.logo-vscode:hover {
  filter: drop-shadow(0 0 2em #00fac4aa);
}
.logo-tailwind:hover {
  filter: drop-shadow(0 0 2em #00fac4aa);
}
.logo-profile:hover {
  filter: drop-shadow(0 0 2em #00fac4aa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}



.logo-vite{
  max-width: 20rem;
  max-height: 20rem;
}

.logo-react{
  max-width: 20rem;
  max-height: 20rem;
}

.logo-vscode{
  margin-top: 50px;
  max-width: 3rem;
  max-height: 3rem;
  display: block;
  margin: 0 auto;
  margin-top: -10px;

}

.logo-tailwind{
  max-width: 3rem;
  max-height: 3rem;
}

.logo-profile{
  max-width: 2.5rem;
  max-height: 2.5rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 15px 50px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.header h1 {
  margin: 0;
  font-size: 2rem;
  font-weight: bold;
}

.powered-by {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.powered-by a {
  display: block;
  margin-left: 10px;
}

.project-title{
  font-family: Chakra Petch;
}

#powered-by-text{
  font-size: 14px;
  margin-top: 5px;
  margin-right: 18px;
}

